<section class="section-container">
    <div class="redes-sociais">
        <div class="rds-wrapper">
            <div>
                <img src="../../../assets/images/facebook.png" 
                     alt=""
                     class="img-redesSociais"
                     (click)="redirect('https://www.facebook.com/FordBrasil/')">
                <img src="../../../assets/images/instagram.png" 
                     alt="" 
                     class="img-redesSociais"
                     (click)="redirect('https://www.instagram.com/fordbrasil/')">
                <img src="../../../assets/images/youtube.png" 
                     alt=""
                     class="img-redesSociais"
                     (click)="redirect('https://www.youtube.com/fordbrasil')">
            </div>
        </div>
        <div>
            &copy;Ford Motor Company
        </div>
        <div>
            <img src="../../../assets/images/logoFord.png" alt="Logo Ford" class="logoFord">
        </div>
    </div>
</section>
