<section class="section-container">
    <div class="redes-sociais">
        <div class="rds-wrapper">
            <div>

                <h4>{{'FOOTER.REDESSOCIAIS' | translate}}</h4>
            </div>
            <div>

                <img src="../../../assets/images/facebook.png" alt="">
                <img src="../../../assets/images/instagram.png" alt="">
                <img src="../../../assets/images/youtube.png" alt="">
            </div>
        </div>
        <div>
            &copy;Ford Motor Company
        </div>
        <div>
            <img src="../../../assets/images/logoFord.png" alt="Logo Ford" class="logoFord">
        </div>
    </div>
</section>
