.section-container {
    background-color: #121314;
    color: #fff;
    margin-top: 4rem;
}

.logoFord {
    width: 8rem;
}

.redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8rem;
}


.rds-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img-redesSociais {
   cursor: pointer;
   transition: transform 0.3 ease-in-out;
}

.img-redesSociais:hover {
  transform: translateY(-10px);
}


  
  /* Responsividade */
  @media (max-width: 768px) {
    .redes-sociais {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .rds-wrapper {
      width: 100vw;
      align-items: center;
      justify-content: center;
    }
  
    .rds-wrapper div img {
      margin: 5px;
    }
  
    .logoFord {
      max-width: 90px;
    }
  }
  
  @media (max-width: 480px) {
    .rds-wrapper h4 {
      font-size: 0.9rem;
    }
  
    .rds-wrapper div img {
      width: 24px;
      height: 24px;
    }
  
    .logoFord {
      max-width: 70px;
    }
  }
  
