<section class="section-container">
    <div class="container-wrapper">
        <div class="cars-container">
            <div>

                <h4>{{'FOOTER.TODOSVEICULOS' | translate}}</h4>
            </div>
            <p>{{'FOOTER.CARROS' | translate}}</p>
            <p>{{'FOOTER.SUVS' | translate}}</p>
            <p>{{'FOOTER.CUV' | translate}}</p>
            <p>{{'FOOTER.PICKUP' | translate}}</p>
            <p>{{'FOOTER.TODOSVEICULOSMIN' | translate}}</p>
        </div>
        <div class="compras-container">
            
            <div>
                <h4>{{'FOOTER.COMPRAS' | translate}}</h4>
            </div>
            <p>{{'FOOTER.SOLUCOESFORD' | translate}}</p>
            <p>{{'FOOTER.COMPROMISSODESERVICO' | translate}}</p>
            <p>{{'FOOTER.SERVICOSFORD' | translate}}</p>
            <p>{{'FOOTER.SEGUROFORD' | translate}}</p>
        </div>
        <div class="tech-container">
            <div>

                <h4>{{'FOOTER.TECNOLOGIA' | translate}}</h4>
            </div>
            <p>{{'FOOTER.NOVOMOTOR' | translate}}</p>
            <p>{{'FOOTER.SYNC' | translate}}</p>
            <p>{{'FOOTER.MOTORECO' | translate}}</p>
        </div>
        <div class="contato-container">
            <div>

                <h4>{{'FOOTER.CONTATENOS' | translate}}</h4>
            </div>
            <p>{{'FOOTER.CONTATO' | translate}}</p>
            <p>{{'FOOTER.APP' | translate}}</p>
            <p>{{'FOOTER.DOWNLOADS' | translate}}</p>
        </div>
    </div>

    <div class="redes-sociais">
        <div class="rds-wrapper">
            <div>

                <h4>{{'FOOTER.REDESSOCIAIS' | translate}}</h4>
            </div>
            <div>

                <img src="../../../assets/images/facebook.png" alt="">
                <img src="../../../assets/images/instagram.png" alt="">
                <img src="../../../assets/images/youtube.png" alt="">
            </div>
        </div>
        <div>
            &copy;Ford Motor Company
        </div>
        <div>
            <img src="../../../assets/images/logoFord.png" alt="Logo Ford" class="logoFord">
        </div>
    </div>
</section>
