
<header class="header-container" [ngClass]="{'header-scrolled': isScrolled}">
    <div class="header-wrapper">
      
      
      <div class="dropdown-container">
          <button class="btn-menu" (click)="toggleDropdown()" ><span class="material-icons">menu</span></button>
          <ul *ngIf="isOpen" class="dropdown-menu">
            <div class="user-info" *ngIf="nomeUsuario; else naoLogado">
              {{'HEADER.OLA' | translate}} {{nomeUsuario}}
            </div>
            <ng-template #naoLogado>
              <span>{{ 'HEADER.BEMVINDO' | translate }} </span>
            </ng-template>
            <div class="logo-dropdown">
              <img class="ford-logo-dropdown" src="/assets/images/logoFord.png" alt="Logo Ford" />
            </div>
            <li (click)="reloadHome()">Home</li>
            <li (click)="scrollTo('exhibition-cars')">{{ 'HEADER.VEICULO' | translate }}</li>
            <li (click)="scrollTo('services')">{{ 'HEADER.SERVICOS' | translate }}</li>
            <li (click)="scrollTo('contact')">{{ 'HEADER.CONTATO' | translate }}</li>
            <div class="btn-container-dropdown">
              <div *ngIf="noLoged; else isLoged" class="btn-dropdown">
                <button class="btn-login" (click)="openLogin()">
                  {{ 'HEADER.ENTRAR' | translate }}
                </button>
                <button class="btn-register" (click)="openRegister()">
                  {{ 'HEADER.CADASTRAR' | translate }}
                </button>
              </div>
                <ng-template #isLoged>
                   <p class="btn-logout" (click)="logout()">Sair</p>
                </ng-template>
          </div>
          </ul>
  
          <div>
            <ul class="ul-services">
              <li (click)="scrollTo('exhibition-cars')">{{ 'HEADER.VEICULO' | translate }}</li>
              <li (click)="scrollTo('services')">{{ 'HEADER.SERVICOS' | translate }}</li>
            </ul>
          </div>
          <div class="language-selector">
            <button (click)="openLanguage = !openLanguage">
              <img *ngIf="selectedLanguage" 
              [src]="getSelectedFlag()" 
              alt="flag selecionada"
              width="30"
              >
            </button>
            
            <div class="language-dropdown" *ngIf="openLanguage">
              <button *ngFor="let lang of languages" (click)="setLanguage(lang.code)">
               <img [src]="lang.flag" alt="flag" width="26">
              </button>
            </div>
          </div>
        </div>
  
        
      <div>
        <img class="ford-logo-header" src="/assets/images/logoFord.png" alt="Logo Ford" />
      </div>
      <div class="btn-container">
        <div *ngIf="noLoged; else isLoged" class="btn-header">
          <div><img (click)="openLogin()" src="../../../assets/images/userIcon.svg" alt=""></div>
          <button class="btn-login" (click)="openLogin()">
            {{ 'HEADER.ENTRAR' | translate }}
          </button>
          <button class="btn-register" (click)="openRegister()">
            {{ 'HEADER.CADASTRAR' | translate }}
          </button>
        </div>
          <ng-template #isLoged>
             <p class="btn-logout" (click)="logout()">{{ 'HEADER.SAIR' | translate }}</p>
          </ng-template>
      </div>
    </div>
    
    <div class="slogan-container">
      <div>
        <p >{{ 'HEADER.SLOGANPT1' | translate }}</p>
        <span><h6>{{ 'HEADER.SLOGANPT2' | translate }}</h6></span>
      </div>
    </div>
  </header>
<section class="img-destaque-container">
  <img src="../../../assets/images/imgHeader.jpeg" alt="" class="img-destaque-container">
</section>
  <app-modal-login></app-modal-login>
  <app-modal-register></app-modal-register>
  
