
<header class="header-container" [ngClass]="{'header-scrolled': isScrolled}">
    <div class="header-wrapper">
      
      
      <div class="dropdown-container">
          <button class="btn-menu" (click)="toggleDropdown()" ><span class="material-icons">menu</span></button>
          <ul *ngIf="isOpen" class="dropdown-menu">
            <div class="user-info" *ngIf="nomeUsuario; else naoLogado">
              Olá, {{nomeUsuario}}
            </div>
            <ng-template #naoLogado>
              <span>Bem-vindo! Faça Login. </span>
            </ng-template>
            <div class="logo-dropdown">
              <img class="ford-logo-dropdown" src="/assets/images/logoFord.png" alt="Logo Ford" />
            </div>
            <li>Home</li>
            <li>Sobre</li>
            <li>Home</li>
            <li>Sobre</li>
            <div class="btn-container-dropdown" *ngIf="innerWidth <= 568">
              <button class="btn-login" (click)="openLogin()">
                {{ 'HEADER.ENTRAR' | translate }}
              </button>
              <button class="btn-register" (click)="openRegister()">
                {{ 'HEADER.CADASTRAR' | translate }}
              </button>
          </div>
          </ul>
  
          <div>
            <ul class="ul-services">
              <li>{{ 'HEADER.VEICULO' | translate }}</li>
              <li>{{ 'HEADER.SERVICOS' | translate }}</li>
            </ul>
          </div>
        </div>
  
        
      <div>
        <img class="ford-logo-header" src="/assets/images/logoFord.png" alt="Logo Ford" />
      </div>
      <div class="btn-container" *ngIf="isVisible()">
          <button class="btn-login" (click)="openLogin()" *ngIf="isLoged">
            {{ 'HEADER.ENTRAR' | translate }}
          </button>
          <button class="btn-register" (click)="openRegister()">
            {{ 'HEADER.CADASTRAR' | translate }}
          </button>
      </div>
    </div>
  </header>
<section class="img-destaque-container">
  <img src="../../../assets/images/ranger.png" alt="" class="img-destaque-container">
</section>
  <app-modal-login></app-modal-login>
  <app-modal-register></app-modal-register>
  
