
<header class="header-container">
    <div class="header-wrapper">
      
      
      <div class="dropdown-container">
          <button class="btn-menu" (click)="toggleDropdown()" ><span class="material-icons">menu</span></button>
          <ul *ngIf="isOpen" class="dropdown-menu">
            <div class="logo-dropdown">
              <img class="ford-logo-dropdown" src="/assets/images/logoFord.png" alt="Logo Ford" />
            </div>
            <li>Home</li>
            <li>Sobre</li>
            <li>Home</li>
            <li>Sobre</li>
            <div class="btn-container-dropdown" *ngIf="innerWidth <= 568">
              <button class="btn-login" (click)="openLogin()">
                {{ 'HEADER.ENTRAR' | translate }}
              </button>
              <button class="btn-register" (click)="openRegister()">
                {{ 'HEADER.CADASTRAR' | translate }}
              </button>
          </div>
          </ul>
  
          <div>
            <ul class="ul-services">
              <li>{{ 'HEADER.VEICULO' | translate }}</li>
              <li>{{ 'HEADER.SERVICOS' | translate }}</li>
            </ul>
          </div>
  
        </div>
        
      <div>
        <img class="ford-logo-header" src="/assets/images/logoFord.png" alt="Logo Ford" />
      </div>
      <div class="btn-container" *ngIf="isVisible()">
          <button class="btn-login" (click)="openLogin()">
            {{ 'HEADER.ENTRAR' | translate }}
          </button>
          <button class="btn-register" (click)="openRegister()">
            {{ 'HEADER.CADASTRAR' | translate }}
          </button>
      </div>
    </div>
  </header>

  <app-modal-login></app-modal-login>
  <app-modal-register></app-modal-register>
  
