<section>
  <div class="exhibition-container">

    <h2>🚀 {{ 'EXHIBITION.MAISPOPULARES' | translate }}</h2>
    <div class="maisPopulares">
      <div class="card" *ngFor="let carro of maisPopulares" [class.flipped]="flippedCar === carro">

        <!-- Frente -->
        <div class="card-front">
          <img [src]="carro.img" alt="" class="img" />
          <h3>{{ carro.modelo }}</h3>
          <p>{{ carro.ano }}</p>
          <button class="btn-exhibition" (click)="flipCard(carro)">
            {{ 'EXHIBITION.BTNDETALHES' | translate }}
          </button>
        </div>

        <!-- Verso -->
        <div class="card-back">
          <h3>{{ carro.modelo }}</h3>
          <p><b>{{ 'EXHIBITION.ANO' | translate }}:</b> {{ carro.ano }}</p>
          <p><b>{{ 'EXHIBITION.MOTOR' | translate }}:</b> {{ carro.tipoMotor }}</p>
          <p><b>{{ 'EXHIBITION.COMBUSTIVEL' | translate }}:</b> {{ carro.combustivel }}</p>
          <button class="btn-exhibition" (click)="flipCard(null)">
            {{ 'EXHIBITION.BTNVOLTAR' | translate }}
          </button>
        </div>
      </div>
    </div>


    <h2>🔥 {{ 'EXHIBITION.MAISVENDIDOS' | translate }}</h2>
    <div class="maisVendidos">
      <div class="card" *ngFor="let carro of maisVendidos" [class.flipped]="flippedCar === carro">

        <!-- Frente -->
        <div class="card-front">
          <img [src]="carro.img" alt="" class="img" />
          <h3>{{ carro.modelo }}</h3>
          <p>{{ carro.ano }}</p>
          <button class="btn-exhibition" (click)="flipCard(carro)">
            {{ 'EXHIBITION.BTNDETALHES' | translate }}
          </button>
        </div>

        <!-- Verso -->
        <div class="card-back">
          <h3>{{ carro.modelo }}</h3>
          <p><b>{{ 'EXHIBITION.ANO' | translate }}:</b> {{ carro.ano }}</p>
          <p><b>{{ 'EXHIBITION.MOTOR' | translate }}:</b> {{ carro.tipoMotor }}</p>
          <p><b>{{ 'EXHIBITION.COMBUSTIVEL' | translate }}:</b> {{ carro.combustivel }}</p>
          <button class="btn-exhibition" (click)="flipCard(null)">
            {{ 'EXHIBITION.BTNVOLTAR' | translate }}
          </button>
        </div>
      </div>
    </div>

  </div>
</section>
