
<div class="service-component">
  <div class="div-title">
    <p>{{ 'SERVICE.TITLE' | translate }}</p>
  </div>
  
  <section class="option-container">
    <div class="option-service">
      <div class="div-img">
        <img src="../../../assets/images/alinhamento.jpg" alt="" class="img-service">
      </div>
      <p>{{ 'SERVICE.ALINHAMENTO' | translate }}</p>
    </div>
    <div class="option-service">
      <img src="../../../assets/images/trocaFiltro.jpg" alt="" class="img-service">
      <p>{{ 'SERVICE.BALANCEAMENTO' | translate }}</p>
    </div>
    <div class="option-service">
      <img src="../../../assets/images/trocaOleo.jpg" alt="" class="img-service">
      <p>{{ 'SERVICE.TROCADEOLEO' | translate }}</p>
    </div>
  </section>
    
  
  <div class="servicos-container">
    <!-- Botão chamativo -->
    <button class="botao-destaque" (click)="toggleLista()">
      {{ 'SERVICE.SOLICITARSERVICOS' | translate }}
    </button>
    
    <!-- Lista de serviços -->
    <div *ngIf="abrirLista" class="lista-servicos">
      <h2>{{ 'SERVICE.ESCOLHADESERVICOS' | translate }}</h2>
      <div *ngFor="let servico of servicos">
        <label>
          <input type="checkbox" [(ngModel)]="servico.selecionado" required/>
          {{ servico.nome }} - R$ {{ servico.valor }}
        </label>
      </div>
      
      <!-- Data -->
      <div class="campo-data">
        <label>{{ 'SERVICE.DATADESEJADA' | translate }}</label>
        <input type="date" [(ngModel)]="dataServico" required/>
      </div>
      
      <!-- Forma de pagamento -->
      <div class="campo-pagamento">
        <label>{{ 'SERVICE.FORMADEPAGAMENTO' | translate }}</label>
        <select [(ngModel)]="formaPagamento" required>
          <option value="Dinheiro">{{ 'SERVICE.DINHEIRO' | translate }}</option>
          <option value="Cartão">{{ 'SERVICE.CARTAO' | translate }}</option>
          <option value="Pix">{{ 'SERVICE.PIX' | translate }}</option>
        </select>
      </div>
      
      <!-- Total -->
      <div><strong>{{ 'SERVICE.TOTAL' | translate }} R$ {{ total }}</strong></div>
      
      <!-- Finalizar -->
      <button class="btn-finalizar" (click)="finalizarPedido()">
        {{ 'SERVICE.FINALIZARPEDIDO' | translate }}
      </button>
      <p class="msgError" *ngIf="errService">{{ 'SERVICE.ERROSERVICE' | translate }}</p>
    </div>
  </div>
</div>
<app-modal-login></app-modal-login>