<div class="overlay" *ngIf="visible" (click)="close()">
    <div class="modal" (click)="$event.stopPropagation()">
        <div (click)="close()" class="iconClose"><img src="../../../../assets/images/iconClose.svg" alt=""></div>
        <form>
            <div>
                 <img
                  src="../../../../assets/images/logoFord.png"
                  alt=""
                  class="logoModal"
                 />
            </div>

            <div>
                <label>{{ 'MODALREGISTER.NOME' | translate}}</label>
                <input type="text" placeholder="{{ 'MODALREGISTER.PLACEHOLDER.PHNOME' | translate }}" [(ngModel)]="name" name="name">
            </div>
            <div>
                <label>{{ 'MODALREGISTER.EMAIL' | translate}}</label>
                <input type="text" placeholder="{{ 'MODALREGISTER.PLACEHOLDER.PHEMAIL' | translate }}" [(ngModel)]="email" name="email">
            </div>
            <div>
                <label>{{ 'MODALREGISTER.CONFIRMAREMAIL' | translate}}</label>
                <input type="text" placeholder="{{ 'MODALREGISTER.PLACEHOLDER.PHCONFIRMAREMAIL' | translate }}" [(ngModel)]="confEmail" name="confEmail">
            </div>
            <div *ngIf="msgErrorEmail" class="msgError"><p>{{ 'MODALREGISTER.MSGERROREMAIL' | translate }}</p></div>
            <div>
                <label>{{ 'MODALREGISTER.SENHA' | translate}}</label>
                <input type="text" placeholder="{{ 'MODALREGISTER.PLACEHOLDER.PHSENHA' | translate }}" [(ngModel)]="password" name="password">
            </div>
            <div>
                <label>{{ 'MODALREGISTER.CONFIRMARSENHA' | translate}}</label>
                <input type="text" placeholder="{{ 'MODALREGISTER.PLACEHOLDER.PHCONFIRMARSENHA' | translate }}" [(ngModel)]="confPassword" name="confPassword">
            </div>
            <div *ngIf="msgErrorPassword" class="msgError"><p>{{ 'MODALREGISTER.MSGERRORSENHA' | translate }}</p></div>
            <div class="lgpd-checkbox">
                <p>{{ 'MODALREGISTER.LGPDINFO' | translate }}</p>
                    <div class="checkbox-group">
                        <input type="checkbox" (change)="validarEnvio($event)">
                        <label for="termosCheckbox"  >{{ 'MODALREGISTER.LGPDCHECKBOX1' | translate }}<a href="https://www.ford.com.br/politica-de-privacidade/"></a></label>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="newsletterCheckbox" >
                        <label for="newsletterCheckbox">{{ 'MODALREGISTER.LGPDCHECKBOX2' | translate }}.</label>
                    </div>
            </div>
            <div>
                <button id="Btn" [disabled]="!activeTermos" (click)="register()">{{ 'MODALREGISTER.CADASTRAR' | translate}}</button>
            </div>
        </form>
    </div>
  </div>
  
