.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    text-align: center;
  }

  
  .modal {
    display: flex;
    flex-direction: column;
    background: #1b357e;
    padding: 20px;
    border-radius: 8px;
    width: 30rem;
    box-shadow: 0 12px 12px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 500;
    background-image: url(../../../../assets/images/imgbg.png);
  }
  
  .modal input {
    display: block;
    width: 20rem;
    margin-bottom: 12px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px
  }
  
  .modal button {
    margin-right: 8px;
    padding: 8px 16px;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(247, 166, 17);
  }

  .logoModal {
    width: 6rem;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .modal button:hover {
    background-color: rgb(17, 21, 247);
    cursor: pointer;
    color: #fff;
  }
