<div class="overlay" *ngIf="visible" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div (click)="close()" class="iconClose"><img src="../../../../assets/images/iconClose.svg" alt="Icone"></div>
    <img
      src="../../../../assets/images/logoFord.png"
      alt=""
      class="logoModal"
    />
    <input type="text" placeholder="{{ 'HEADER.EMAIL' | translate }}" [(ngModel)]="email" />
    <input type="password" (keydown.enter)="login()" placeholder="{{ 'HEADER.SENHA' | translate }}" [(ngModel)]="password" />
    <div >
      <p *ngIf="msgError" class="msgError">{{ 'HEADER.MSGERROR' | translate }}</p>
    </div>
    <div class="btn-container">
      <button (click)="login()">{{ 'HEADER.ENTRAR' | translate }}</button>
      <a href="">{{ 'HEADER.ESQUECEUSENHA' | translate }}</a>
    </div>
  </div>
</div>
