<div class="overlay" *ngIf="visible" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <img
      src="../../../../assets/images/logoFord.png"
      alt=""
      class="logoModal"
    />
    <input type="text" placeholder="{{ 'HEADER.EMAIL' | translate }}" [(ngModel)]="email" />
    <input type="password" placeholder="{{ 'HEADER.SENHA' | translate }}" [(ngModel)]="password" />
    <div *ngIf="msgError"><p class="msgError">{{ 'HEADER.MSGERROR' | translate }}</p></div>
    <div class="btn-container">
      <button (click)="login()">{{ 'HEADER.ENTRAR' | translate }}</button>
      <a href="">{{ 'HEADER.ESQUECEUSENHA' | translate }}</a>
    </div>
  </div>
</div>
